/* fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* colors */

:root {
  --basic-black: #000000;
  --secondary-black: #231F20;
  --basic-gray: #666666;
  --secondary-gray: #F2F2F2;
  --dark-gray: #ABABAB;
  --dark-gray-rgb: 171,171,171;
  --secondary-dark-gray: #A9A9A9;
  --light-gray: #EBEBEB;
  --secondary-light-gray: #E5E5E5;
  --alternative-light-gray: #CACACA;
  --basic-white: #FFFFFF;
  --basic-white-rgb: 255, 255, 255;
  --secondary-white: #EEEEEE;
  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --basic-blue: #81B3D2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --basic-dark-shadow-rgb: 0, 1, 1;
}

/*main styles*/

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-gray);
}

.page-container {
  align-content: start;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  background-color: var(--basic-white);
  margin: 0 auto;
}

.page-shadow {
  box-shadow: 0 0 15px -10px var(--basic-gray);
}

/* buttons */

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button-interactive {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  line-height: 21px;
  font-weight: 700;
}

.button-interactive:hover {
  background-color: var(--hover-brown);
}

.button-interactive:active {
  background-color: var(--active-brown);
}

.button-interactive:active span {
  opacity: 0.3;
}

.button-accent {
  font-weight: 700;
  line-height: 21px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.button-accent:hover {
  background-color: var(--hover-blue);
}

.button-accent:active {
  background-color: var(--active-blue);
}

.button-accent:active span {
  opacity: 0.3;
}

/* header */

.main-header {
  font-weight: 700;
  line-height: 24px;
  grid-row: 1 / 2;
}

.main-navigation {
  box-sizing: content-box;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-70px);
}

.site-navigation {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  padding: 15px 72px 17px 72px;
}

.site-navigation-information {
  margin-right: auto;
}

.site-navigation-gallery {
  margin-right: auto;
  padding-right: 152px;
}

.site-navigation-map {
  margin-left: auto;
  padding-right: 15px;
}

.site-navigation-hotels {
  margin-left: auto;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  cursor: pointer;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation .link-selected {
  color: var(--basic-brown);
}

/* main */

.main-container {
  text-align: center;
  margin: 0 auto;
}

.main-content {
  width: 1200px;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: repeat(5, min-content);
}

.main-content-welcome {
  justify-content: center;
  background-image:
    url("../img/decorate-background-photo.png"),
    url("../img/background-photo.jpg");
  background-position:
    0 bottom,
    0 0;
  background-color: var(--active-blue);
  background-repeat: no-repeat;
  height: 509px;
  padding-top: 76px;
  box-sizing: border-box;
}

.main-content-description {
  padding-top: 43px;
  padding-bottom: 50px;
}

.description-header {
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.description-txt {
  margin: 0;
}

/* reasons */

.main-content-first-reason {
  display: grid;
  grid-template-rows: min-content minmax(331px, auto);
}

.main-content-reasons {
  display: grid;
  grid-template-rows: min-content minmax(256px, auto);
}

.reasons-grid {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 47px;
  padding-bottom: 52px;
}

.reasons-accent-grid {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 60px;
  padding-bottom: 79px;
}


.reasons-grid-background {
  background-color: var(--secondary-white);
}

.reason {
  padding-right: 46px;
  padding-left: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reason > p {
  margin: 0;
}

.reason > .reason-header {
  margin-bottom: 6px;
}

.reason-background {
  width: 800px;
  height: 256px;
  display: block;
}

.first-reason-description {
  display: grid;
  grid-template-columns: 1fr minmax(800px, auto);
  height: 256px;
}

.fourth-reason-description {
  display: grid;
  grid-template-columns: minmax(800px, auto) 1fr;
}

.reason-accent {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  padding: 47px 48px 50px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reason-accent > .reason-header {
  margin-bottom: 5px;
}

.reason-accent > p {
  margin: 0;
}

.reason-accent-item {
  padding: 0 58px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.reason-accent-item > p {
  margin: 0;
}

.reason-header {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

.main-content-search-hotel {
  padding-top: 57px;
  position: relative;
}

.main-content-search-hotel > p {
  margin-bottom: 44px;
}

.search-hotel-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 32px;
  padding-right: 8px;
}

.search-hotel-button {
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  min-width: 568px;
  min-height: 86px;
}

/* modal */

.modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
  width: 568px;
  box-shadow: rgba(var(--basic-dark-shadow-rgb), 0.15) 0 0 15px 0;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
    "first-datepicker first-datepicker"
    "second-datepicker second-datepicker"
    "first-number-input second-number-input"
    "submit submit";
  padding: 54px 55px 54px 55px;
  background-color: var(--basic-white);
  line-height: 26px;
  font-weight: 700;
}

.modal-form > label:nth-of-type(1) {
  grid-area: first-datepicker;
}

.modal-form > label:nth-of-type(2) {
  grid-area: second-datepicker;
}

.modal-form > label:nth-of-type(3) {
  grid-area: first-number-input;
}

.modal-form > label:nth-of-type(4) {
  grid-area: second-number-input;
}


.modal-form input {
  background-color: var(--secondary-gray);
  box-sizing: border-box;
  border: none;
  font: inherit;
  line-height: inherit;
  text-transform: inherit;
  height: 38px;
}

.modal-form input::placeholder {
  color: var(--basic-black);
}

.modal-form input:hover {
  background-color: var(--light-gray);
}

.modal-form input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--secondary-light-gray);
}

.modal-form-datepicker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-form-datepicker > input {
  width: 346px;
  padding-left: 12px;
  padding-right: 30px;
}

.datepicker-control {
  position: absolute;
  padding: 2px;
  border: none;
  background: none;
  right: 6px;
  bottom: 4px;
}

.datepicker-control > svg {
  fill: var(--secondary-dark-gray);
}

.datepicker-control:hover > svg {
  fill: var(--basic-black);
}

.datepicker-control:active > svg {
  fill: var(--basic-blue);
}

.modal-form-number-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number-input-container {
  position: relative;
}

.number-input-container > input {
  width: 114px;
  text-align: center;
  vertical-align: center;
  padding: 0;
}

.number-input-control {
  position: absolute;
  padding: 2px;
  border: none;
  background: none;
}

.number-input-control > svg {
  fill: var(--secondary-dark-gray);
}

.number-input-control:hover > svg {
  fill: var(--basic-black);
}

.number-input-control:active > svg {
  fill: var(--basic-blue);
}

.number-input-container .number-input-decrease {
  top: 7px;
  left: 11px;
}

.number-input-container .number-input-increase {
  top: 11px;
  right: 12px;
}

.first-number-input .number-input-container {
  margin-right: 2px;
}

.second-number-input > span {
  margin-left: 50px;
}

.modal-form-submit {
  margin-top: 54px;
  padding-top: 16px;
  padding-bottom: 16px;
  align-content: center;
  grid-area: submit;
}

.modal-form-submit span {
  font-size: 21px;
  line-height: 26px;
}

/* catalog */


.catalog-content {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content min-content;
}


/* filters */

.filter {
  background-image: url("../img/blur-background-photo.jpg");
  background-color: var(--basic-blue);
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 27px 72px 0 72px;
}

.filter-checkbox-group {
  display: flex;
}

.filter-checkbox-group fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-checkbox-group fieldset:first-child {
  margin: 0 119px 0 0;
}

.filter-checkbox-group label {
  margin-left: 40px;
  margin-bottom: 24px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -39px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: none;
}

.filter-input-checkbox:disabled + label::after {
  opacity: 0.5;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.5;
}

.filter-checkbox-group legend {
  margin: 0 0 25px 0;
  padding: 0;
}

.filter-legend {
  text-align: left;
}

.filter-legend-txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter-range-group {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-range-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-range-header {
  margin-bottom: 11px;
}

.filter-range-controls {
  width: 317px;
  box-sizing: border-box;
}

.price-controls {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 36px;
  margin-bottom: 20px;
  padding: 5px 22px 7px 54px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
}

.price-controls label {
  width: 90px;
  cursor: pointer;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  margin-bottom: 33px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(var(--basic-white-rgb), 0.3);
}

.range-controls .bar {
  width: 80%;
  margin-left: 0;
  height: 2px;
  background-color: var(--basic-white);
}

.range-toggle {
  position: absolute;
  top: -9px;
  left: 0;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--dark-gray);
  box-shadow: 0 2px 1px 0 rgba(var(--dark-gray-rgb), 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  width: 23px;
  height: 23px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter label {
  line-height: 21px;
  color: var(--basic-white);
}

.filter-submit {
  margin-bottom: 32px;
  margin-right: 13px;
}

.filter-submit-button {
  padding-top: 0;
  line-height: 21px;
  border-radius: 2px;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background: none;
  min-height: 36px;
  min-width: 137px;
}

.filter-submit-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* hotels */

.hotel-catalog {
  display: grid;
  grid-template-rows: minmax(86px, auto) min-content;
}

.hotel-result {
  display: flex;
  align-items: center;
  padding: 20px 72px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--secondary-light-gray);
}

.hotel-result-header {
  margin-right: 48px;
}

.hotel-result-header-txt {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-sort {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.hotel-sort ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hotel-sort li {
  margin-right: 33px;
}

.hotel-sort li:last-child {
  margin-right: 0;
}

.hotel-sort-header {
  margin-right: 40px;
}

.hotel-sort-header-txt {
  font-size: 12px;
  line-height: 18px;
}

.sort-option {
  text-decoration-style: dotted;
  text-decoration-line: underline;
  text-decoration-color: var(--basic-blue);
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  cursor: pointer;
}

.sort-option:hover {
  text-decoration-color: var(--basic-blue);
  color: var(--basic-blue);
  opacity: 1;
}

.sort-option:active {
  text-decoration: none;
  color: var(--basic-black);
  opacity: 1;
}

.sort-option-selected {
  text-decoration: none;
  color: var(--basic-blue);
  opacity: 1;
}

.hotel-sort-controls {
  display: flex;
  margin-left: auto;
  padding-top: 6px;
}

.sort-control {
  padding: 0 2px;
  background: none;
  border: none;
}

.sort-control > svg {
  fill: var(--alternative-light-gray);
}

.sort-control-selected > svg {
  fill: var(--basic-blue);
}

.sort-control:hover > svg {
  fill: var(--basic-black);
}

.sort-control:active > svg {
  fill: var(--basic-blue);
}

.sort-control-asc {
  margin-right: 6px;
}

.hotel-list {
  display: flex;
  flex-direction: column;
}

.hotel-item {
  display: flex;
  padding: 30px 72px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--secondary-light-gray);
}

.hotel-item-image {
  align-self: flex-end;
  margin-right: 30px;
}

.hotel-item-image img {
  width: 135px;
  height: 90px;
  display: block;
}

.hotel-item-description {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content min-content;
  margin-top: -5px;
}

.item-description-header {
  grid-column: 1/3;
  grid-row: 1/2;
}

.item-description-header h3 {
  text-align: start;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.item-description-header h3:hover {
  color: var(--basic-blue);
}

.item-description-header h3:active {
  opacity: 0.3;
  color: var(--basic-white);
}

.item-description-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.item-description-content > span {
  line-height: 21px;
  color: var(--secondary-black);
  margin-bottom: 16px;
  padding-top: 6px
}

.item-description-content .button {
  padding: 3px 16px;
}

.item-description-txt span {
  line-height: 21px;
  color: var(--secondary-black);
}

.item-description-control-detail {
  width: 79px;
  margin-right: 6px;
}

.item-description-control-reserve {
  width: 141px;
}

.hotel-item-rating {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  margin-left: auto;
}

.rating-score-txt {
  display: inline-block;
  vertical-align: middle;
  width: 81px;
  padding: 3px 15px 3px 12px;
  background-color: var(--secondary-gray);
  color: var(--basic-gray);
  line-height: 21px;
}

/* map */

.map {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.map iframe {
  border: none;
}

/* footer */

.footer {
  box-sizing: border-box;
  min-height: 126px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 136px 42px 125px
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  z-index: 2;
  align-self: end;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts p {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.footer-contacts .contacts-hashtag {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.footer-contacts a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: 23px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social li {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-blue);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social li:hover {
  background-color: var(--hover-blue);
}

.footer-social li:active {
  background-color: var(--active-blue);
}

.social-link {
  color: var(--basic-white);
  text-decoration: none;
  cursor: pointer;
}

.social-link:active .social-link-logo {
  opacity: 0.3;
}

.footer-copyright-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-copyright {
  line-height: 26px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-left: 36px;
}

.copyright-text {
  margin-right: 6px;
}

.copyright-link svg {
  fill: var(--secondary-black);
}

.copyright-link svg:hover {
  fill: var(--basic-blue);
}

.copyright-link svg:active {
  fill: var(--secondary-black);
  fill-opacity: 0.3;
}

/*utility styles*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
